@import "../../../styles.scss";

.container {
  color: #fff;
  padding: 24px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box-footer {
  background-color: #333;
  margin-top: 120px;
}

.sub-footer {
  background-color: #333;
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;

  p {
    margin: 0;
    color: #fff;
  }

  .entity {
    color: #0cd1f1;
  }
}

/* Estilos para cada columna */
.columna {
  flex: 0 0 calc(33.333% - 40px);
  /* 3 columnas con espacio entre ellas */
  margin: 0 20px;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.columna h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: $poppinsSemibold;
}

.columna ul {
  list-style: none;
  padding: 0;
}

.columna ul li {
  margin-bottom: 8px;
}

.columna a {
  color: #fff;
  text-decoration: none;

  transition: all 0.3s ease-in-out;
}

/* Cambiar el color de los enlaces al pasar el mouse sobre ellos */
// .columna a:hover {
//   color: #ff6600;
// }
//
.columna a {
  &:hover {
    color: #0cd1f1;
  }
}

/* Estilos para el logo */
.logo {
  width: 100%;
  margin-bottom: 8px;
  height: 50px;
  object-fit: contain;
}

.social-media {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 12px;

  svg {
    fill: #fff;

    transition: all 0.3s ease-in-out;

    &:hover {
      fill: #0cd1f1;
    }
  }
}


.sub-footer {
  text-align: center;

  @include mobile {
    text-align: center;
    padding: 0 10px;
    font-size: 10px;
  }
}