<section class="hero">
    <div class="hero_texts">
        <h1 class="hero_title">Let's start something big together.</h1>
        <p class="hero_paragraph">Sed vulputate mit sit amet mauris commodo quis <br> imperdiet convallis a crass semper auctor</p>
        <a class="hero_cta" href="#">Learn More</a>
    </div>

    <div class="hero_achivements">
        <div class="achivement">
            <span class="achivement_number">30+</span>
            <p class="achivement_description">Years of <br> Excellence</p>
        </div>
        <div class="achivement">
            <span class="achivement_number">53K</span>
            <p class="achivement_description">Completed <br> Policies</p>
        </div>
        <div class="achivement">
            <span class="achivement_number">100%</span>
            <p class="achivement_description">Client <br> Satisfaction</p>
        </div>
    </div>

    <img src="../../../assets/hero-image.png" alt="" class="hero_image">
</section>
