<section class="hero" id="hero">
  <div class="container">
    <div class="hero_left">
      <div class="hero_texts">
        <h1 class="hero_title">
          Tu aliado estratégico en innovación y transformación tecnológica.
        </h1>
        <p class="hero_paragraph">
          Impulsamos tu éxito empresarial con soluciones de software a la medida
          y soluciones de renting tecnológico.
        </p>
        <a class="hero_cta" href="#contact_business">Más información</a>
      </div>
      <div class="hero_achivements">
        <div class="achivement">
          <span class="achivement_number">1+</span>
          <p class="achivement_description">
            Año de <br />
            Experiencia
          </p>
        </div>
        <div class="achivement">
          <span class="achivement_number">10+</span>
          <p class="achivement_description">
            Aplicaciones <br />
            Completadas
          </p>
        </div>
        <div class="achivement">
          <span class="achivement_number">100%</span>
          <p class="achivement_description">
            Clientes <br />
            Satisfechos
          </p>
        </div>
      </div>
    </div>
    <div class="hero_right">
      <div class="card_item mobile">
        <div class="header">
          <p>Estadísticas del mes</p>
          <p>2023</p>
        </div>
        <div class="body">
          <span>Incremento</span>
          <div></div>
          <p>+5.84%</p>
        </div>
        <div class="line_footer">
          <img src="./../../../assets/icons/line_progress.png" alt="Linea de progreso" />
        </div>
        <img src="../../../assets/icons/triangle_card.png" class="triangle_card" alt="">
      </div>
      <img width="600px" src="../../../assets/hero-image.png" alt="" class="hero_image" />
    </div>
    <img src="./../../../assets/icons/image_background.png" width="600px" class="image_background" alt="" />
  </div>
</section>

<div class="container">
  <div class="info_cards">
    <div class="info_card">
      <span class="info_card_number">01</span>
      <h2 class="info_card_title">
        Desarrollo de software <br>
        a medida
      </h2>
      <p class="info_card_description">
        Soluciones personalizadas, eficiencia, escalabilidad, integración sin problemas y soporte continuo post venta.
        Impulsa tu negocio con software diseñado exclusivamente para tus necesidades.
      </p>
      <a class="info_card_cta" href="#contact_business">Más información...</a>
      <span class="info_card_divider"></span>
    </div>
    <div class="info_card">
      <span class="info_card_number">02</span>
      <h2 class="info_card_title">Renting tecnológico <br />para tu empresa</h2>
      <p class="info_card_description">
        Ahorro de costos, flexibilidad, mantenimiento incluido, escalabilidad y gestión simplificada. Descubre por qué
        el renting de equipos técnicos y de cómputo es la opción inteligente para tu empresa.
      </p>
      <a class="info_card_cta" href="#contact_business">Más información...</a>
      <span class="info_card_divider"></span>
    </div>
    <div class="info_card">
      <span class="info_card_number">03</span>
      <h2 class="info_card_title">
        Tecnología y herramientas<br />
        de vanguardia
      </h2>
      <p class="info_card_description">
        Impulsamos tu empresa con tecnologías de última generación, desarrollo móvil, bases de datos avanzadas y gestión
        en la nube en AWS y Azure. Utilizamos Node.js, PHP, Python, Java, Flutter, React Native, Ansible y Terraform
        para lograrlo.
      </p>
      <a class="info_card_cta" href="#contact_business">Más información...</a>
      <span class="info_card_divider"></span>
    </div>
  </div>
</div>