@import "./../../../styles.scss";

.hero {
  background-color: #f6f0f7;

  .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    padding-top: 50px;
    padding-bottom: 40px;

    .hero_left {
      z-index: 1;
      .hero_title {
        color: $Dark-Blue;
        font-size: 64px;
        font-weight: 700;
        line-height: 125%;
        margin-bottom: 16px;

        @include mobile {
          font-size: 34px;
        }
      }

      .hero_paragraph {
        font-size: 16px;
        color: $Dark-Gray;
        margin-bottom: 48px;
      }

      .hero_cta {
        text-decoration: none;
        color: #fff;
        padding: 16px 40px;
        background-color: $Blue;
        border-radius: 4px;
      }

      .hero_achivements {
        display: flex;
        gap: 40px;
        margin-top: 60px;

        @include mobile {
          gap: 10px;
        }
      }
    }

    .hero_right {
      z-index: 2;
      position: relative;
      right: -62px;

      .card_item {
        max-width: 200px;
        background-color: #fff;
        position: absolute;
        left: 10px;
        top: -15px;
        border-radius: 10px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        p {
          margin: 0;
          text-wrap: wrap;
        }

        div {
          display: flex;
          justify-content: space-between;
        }

        .header {
          gap: 8px;
          align-items: center;
        }

        .body {
          div {
            width: 2px;
            background-color: $Dark-Gray;
            opacity: 0.5;
          }
        }

        .line_footer {
          img {
            width: 100%;
          }
        }

        .triangle_card {
          width: 24px;
          position: absolute;
          right: 0;
          left: 0;
          bottom: -12px;
          margin: 0 auto;
        }
      }
    }

    .hero_image {
      @include mobile {
        display: none;
      }

      @include tablet {
        display: none;
      }
    }

    .image_background {
      position: absolute;
      right: 85px;
      top: 0;
      bottom: 0;

      @include mobile {
        display: none;
      }

      @include tablet {
        display: none;
      }
    }
  }
}

.achivement {
  color: $Dark-Blue;

  &_number {
    font-size: 40px;
    font-weight: 700;

    @include mobile {
      font-size: 32px;
    }
  }
}

.info_cards {
  display: flex;
  gap: 24px;
  position: relative;
  top: -40px;
  z-index: 2;

  @include tablet {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }
}

.info_card {
  padding: 40px 32px;
  background-color: #fff;
  position: relative;
  box-shadow: 0px 34px 26px -5px rgb(183 183 183 / 25%);

  @include tablet {
    max-width: 400px;

    text-align: center;
  }

  &_number {
    position: absolute;
    top: 8px;
    left: 8px;

    color: $Dark-Gray;
  }

  &_title {
    font-size: 32px;
    font-weight: 700;

    margin-bottom: 1.5rem;
  }

  &_description {
    color: $Dark-Gray;

    margin: 0;
  }

  &_divider {
    position: absolute;
    bottom: 4px;
    width: calc(100% - 64px);
    height: 4px;

    background-color: $Blue;

    @include tablet {
      left: 32px;
    }
  }
}
