<section class="hero">
  <div class="container">
    <div class="hero_left">
      <div class="hero_texts">
        <h1 class="hero_title">
          Tu Aliado Estratégico en innovación y transformación tecnológica.
        </h1>
        <p class="hero_paragraph">
          Impulsamos tu éxito empresarial con soluciones de software a la medida
          y soluciones de renting tecnológico
        </p>
        <a class="hero_cta" href="#contact_business">Más información</a>
      </div>
      <div class="hero_achivements">
        <div class="achivement">
          <span class="achivement_number">5+</span>
          <p class="achivement_description">
            Años de <br />
            Experiencia
          </p>
        </div>
        <div class="achivement">
          <span class="achivement_number">10+</span>
          <p class="achivement_description">
            Aplicaciónes <br />
            Completadas
          </p>
        </div>
        <div class="achivement">
          <span class="achivement_number">100%</span>
          <p class="achivement_description">
            Clientes <br />
            Satisfechos
          </p>
        </div>
      </div>
    </div>
    <div class="hero_right">
      <div class="card_item mobile">
        <div class="header">
          <p>Estadíssticas del mes</p>
          <p>2023</p>
        </div>
        <div class="body">
          <p>+5.84%</p>
          <span>Incremento</span>
        </div>
        <div class="line_footer">
          <img
            src="./../../../assets/icons/line_progress.png"
            alt="Linea de progreso"
          />
        </div>
      </div>
      <img
        width="600px"
        src="../../../assets/hero-image.png"
        alt=""
        class="hero_image"
      />
    </div>
    <img
      src="./../../../assets/icons/image_background.png"
      width="600px"
      class="image_background"
      alt=""
    />
  </div>
</section>

<div class="container">
  <div class="info_cards">
    <div class="info_card">
      <span class="info_card_number">01</span>
      <h2 class="info_card_title">
        Consumer <br />
        Insights
      </h2>
      <p class="info_card_description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab assumenda
        nihil error nemo voluptate quisquam.
      </p>
      <span class="info_card_divider"></span>
    </div>
    <div class="info_card">
      <span class="info_card_number">02</span>
      <h2 class="info_card_title">Emerging <br />Ideas</h2>
      <p class="info_card_description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab assumenda
        nihil error nemo voluptate quisquam.
      </p>
      <span class="info_card_divider"></span>
    </div>
    <div class="info_card">
      <span class="info_card_number">03</span>
      <h2 class="info_card_title">
        Thought <br />
        Leadership
      </h2>
      <p class="info_card_description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab assumenda
        nihil error nemo voluptate quisquam.
      </p>
      <span class="info_card_divider"></span>
    </div>
  </div>
</div>

