<div class="info_cards">
    <div class="info_card">
        <span class="info_card_number">01</span>
        <h2 class="info_card_title">Consumer <br> Insights</h2>
        <p class="info_card_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab assumenda nihil error nemo voluptate quisquam.</p>
        <span class="info_card_divider"></span>
    </div>
    <div class="info_card">
        <span class="info_card_number">02</span>
        <h2 class="info_card_title">Emerging <br>Ideas</h2>
        <p class="info_card_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab assumenda nihil error nemo voluptate quisquam.</p>
        <span class="info_card_divider"></span> 
    </div>
    <div class="info_card">
        <span class="info_card_number">03</span>
        <h2 class="info_card_title">Thought <br> Leadership</h2>
        <p class="info_card_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab assumenda nihil error nemo voluptate quisquam.</p>
        <span class="info_card_divider"></span>
    </div>
</div>
