<section class="benefits">
  <div class="container">
    <div class="col-5">
      <img
        class="image_content"
        src="./../../../assets/icons/empresario_pensativo.png"
        alt=""
      />
    </div>
    <div class="col-7">
      <div class="items">
        <h1 class="title_header">
          Ventajas de Renting de Equipos Técnicos y de Computo
        </h1>
        <p class="title_subheader">
          ¿Por qué elegir el renting de equipos técnicos y de Computo? En
          Soluciones APPS, entendemos las necesidades cambiantes de tu empresa y
          por eso te ofrecemos esta opción innovadora. Aquí te presentamos las
          ventajas clave:
        </p>

        <div class="items">
          <div class="item">
            <img
              class="image_item"
              src="./../../../assets/icons/ahorro-de-costes.png"
              alt="Item"
            />
            <div class="titles_item">
              <strong>Ahorro de Costos: </strong>
              <span>
                Al optar por el renting, evitas inversiones iniciales elevadas.
                Paga solo por el uso, lo que libera capital para otras
                inversiones esenciales en tu negocio.</span
              >
            </div>
          </div>
          <div class="item">
            <img
              class="image_item"
              src="./../../../assets/icons/agil.png"
              alt="Item"
            />
            <div class="titles_item">
              <strong>Flexibilidad: </strong>
              <span>
                Tu empresa puede adaptarse a las últimas tecnologías sin la
                carga de la obsolescencia. Actualiza tus equipos según tus
                necesidades, sin costos adicionales.</span
              >
            </div>
          </div>
          <div class="item">
            <img
              class="image_item"
              src="./../../../assets/icons/mantenimiento.png"
              alt="Item"
            />
            <div class="titles_item">
              <strong>Mantenimiento Incluido: </strong>
              <span
                >Olvídate de las preocupaciones por el mantenimiento técnico.
                Nuestro servicio de renting incluye soporte y reparaciones, lo
                que garantiza un rendimiento óptimo.</span
              >
            </div>
          </div>
          <div class="item">
            <img
              class="image_item"
              src="./../../../assets/icons/practica.png"
              alt="Item"
            />
            <div class="titles_item">
              <strong>Mejora de la productividad:</strong>
              <span>
                Con el renting de equipos técnicos <br />
                y de computo, siempre tendrás la tecnología más avanzada, lo que
                te permitirá mejorar la productividad de tu empresa.</span
              >
            </div>
          </div>
          <div class="item">
            <img
              class="image_item"
              src="./../../../assets/icons/gestion-de-producto.png"
              alt="Item"
            />
            <div class="titles_item">
              <strong>Gestión Simplificada: </strong
              ><span>
                Nuestro servicio de renting facilita la gestión de activos.
                Mantén un control eficiente de tus equipos con nuestro
                apoyo.</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact_renting">
  <div class="element">
    <div class="container">
      <div class="col-8">
        <span class="title_header"
          >El renting de equipos técnicos impulsa tu negocio hacia el éxito con
          flexibilidad, eficiencia y ahorro.</span
        >
        <br />
        <br />
        <span class="title_subheader">
          Renting de equipos: flexibilidad, eficiencia y ahorro. Personalizamos
          soluciones tecnológicas a tu medida. Contáctanos hoy.
        </span>
      </div>
      <div class="col-4" style="text-align: center">
        <button class="btn_contact">Contáctanos</button>
      </div>
    </div>
  </div>
</section>
