@import "./../../../styles.scss";

.benefits {
  margin: 100px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    @include tablet {
      flex-direction: column;
    }

    .image_content {
      @include mobile {
        display: none;
      }

      @include tablet {
        display: none;
      }
    }

    .items {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .title_header {
        font-size: 40px;
        font-weight: 700;
        line-height: 125%;
        margin-bottom: 16px;
      }

      .title_subheader {
        font-size: 18px;
      }

      .items {
        .item {
          display: flex;
          align-items: center;
          gap: 20px;

          .image_item {
            width: 60px;
            filter: drop-shadow(0px 0px 14px rgba(0, 0, 0, 0.08));
          }

          .titles_item {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}

.contact_renting {
  margin: 100px 0;

  .element {
    background-color: #0cd1f1;
    padding: 120px 60px;
    width: 100%;

    @include mobile {
      padding: 20px;
    }

    .container {
      display: flex;
      align-items: center;

      @include tablet {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
      }

      @include mobile {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
      }

      .title_header {
        font-size: 40px;
        font-weight: 700;
        color: #fff;
        line-height: 125%;
      }

      .title_subheader {
        font-size: 20px;
        color: #fff;
        line-height: 125%;
      }

      .btn_contact {
        color: #0cd1f1;
        padding: 16px 40px;
        background-color: #fff;
        border: none;
        border-radius: 4px;
      }
    }
  }
}


.services_business {
  margin: 80px 0;

  .container {

    .title_container_header {
      text-align: center;
      font-size: 40px;
    }

    .items {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 40px 0;

      .card {
        max-width: 300px;
        box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .15);
        padding: 20px;
        height: auto;
        border: none;
        gap: 10px;
        justify-content: space-between;

        @include mobile {
          max-width: none;
        }

        .card_image {
          width: 100%;

          .image {
            width: 100%;
          }
        }

        .card_text {
          span {
            font-size: 24px;
            font-family: $poppinsSemibold;
            line-height: 1;
          }
        }

        .card_footer {
          .info_card_cta {
            color: $Dark-Gray;
          }
        }
      }
    }
  }
}

.items_services_business {
  margin: 100px 0;

  @include mobile {}

  .container {
    .title_service {
      text-align: center;
      font-size: 40px;
      margin-bottom: 40px;
    }

    .items_services {
      display: flex;
      gap: 20px;

      @include tablet {
        flex-direction: column;
      }

      @include mobile {
        flex-direction: column;
      }

      .item {
        width: 100%;
        height: auto;
        text-align: center;
        background-color: #fff;
        border-radius: 7px;
        padding: 20px 10px;
        text-decoration: none;
        box-shadow: 0 0px 36px 6px rgba(183, 183, 183, 0.25);

        .title_item {
          font-size: 22px;
          font-family: $poppinsSemibold;
        }
      }
    }
  }
}


.list {
  list-style: none;
  color: $Dark-Gray;
  padding: 0;

  &_title {
    font-size: 20px;
  }

  &_item {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 10px 0;
    border-bottom: solid 2px;
  }

  &_icon {
    width: 30px;
  }
}


.technologies {
  margin: 100px 0;

  .items {
    display: flex;
    justify-content: space-around;

    @include mobile {
      flex-direction: column;
    }

    @include tablet {
      flex-direction: column;
    }

  }
}

.allies {
  margin: 100px 0;

  .container {
    text-align: center;

    .items {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 40px;

      @include mobile {
        flex-direction: column;
      }
    }
  }
}