<section class="services_business">
  <div class="container">
    <h1 class="title_container_header">
      Desarrollo de Software a
      <span style="color: #49d2f3; margin-top: 40px">Medida</span>
    </h1>
    <div class="items">
      <div class="card">
        <div class="card_image">
          <img class="image" src="./../../../assets/images/image10.png" alt="">
        </div>
        <div class="card_text">
          <span>Soluciones Personalizadas</span>
        </div>
        <div class="card_subtitle">
          <p>Creamos software específicamente diseñado para abordar tus desafíos y metas empresariales. No más
            soluciones genéricas que no se ajustan a tus necesidades.</p>
        </div>
        <div class="card_footer">
          <a class="info_card_cta" href="#contact_business">Más información...</a>
        </div>
      </div>
      <div class="card">
        <div class="card_image">
          <img class="image" src="./../../../assets/images/image11.png" alt="">
        </div>
        <div class="card_text">
          <span>Eficiencia y Productividad</span>
        </div>
        <div class="card_subtitle">
          <p>Nuestro software a medida está diseñado para optimizar tus procesos internos, lo que se traduce en una
            mayor eficiencia y productividad.</p>
        </div>
        <div class="card_footer">
          <a class="info_card_cta" href="#contact_business">Más información...</a>
        </div>
      </div>
      <div class="card">
        <div class="card_image">
          <img class="image" src="./../../../assets/images/image12.png" alt="">
        </div>
        <div class="card_text">
          <span>Escalabilidad</span>
        </div>
        <div class="card_subtitle">
          <p>A medida que tu empresa crece, tu software debe crecer contigo. Nuestras soluciones son escalables y pueden
            adaptarse a tus cambios a lo largo del tiempo.</p>
        </div>
        <div class="card_footer">
          <a class="info_card_cta" href="#contact_business">Más información...</a>
        </div>
      </div>
      <div class="card">
        <div class="card_image">
          <img class="image" src="./../../../assets/images/image9.png" alt="">
        </div>
        <div class="card_text">
          <span>Soporte Continuo post venta</span>
        </div>
        <div class="card_subtitle">
          <p>No estás solo después de la implementación. Ofrecemos soporte continuo y actualizaciones para garantizar un
            rendimiento óptimo a lo largo del ciclo de vida.</p>
        </div>
        <div class="card_footer">
          <a class="info_card_cta" href="#contact_business">Más información...</a>
        </div>
      </div>
    </div>
    <p class="title_business">
      Con el desarrollo de software personalizado de Soluciones-APPs, obtendrás
      una ventaja competitiva al contar con herramientas tecnológicas diseñadas
      exclusivamente para ti. Contáctanos hoy para explorar cómo podemos
      impulsar tu empresa con soluciones tecnológicas a medida.
    </p>
  </div>
</section>

<section class="benefits" id="benefits">
  <div class="container">
    <img class="image_content" width="500px"
      src="./../../../assets/icons/mujer-escribiendo-computadora-portatil-sonriendo.jpg" alt="" />
    <div class="items">
      <h1 class="title_header">
        Ventajas de Renting de Equipos Técnicos y de Computo
      </h1>
      <p class="title_subheader">
        ¿Por qué elegir el renting de equipos técnicos y de Computo? En
        Soluciones APPS, entendemos las necesidades cambiantes de tu empresa y
        por eso te ofrecemos esta opción innovadora. Aquí te presentamos las
        ventajas clave:
      </p>

      <div class="items">
        <div class="item">
          <img class="image_item" src="./../../../assets/icons/ahorro-de-costes.png" alt="Item" />
          <div class="titles_item">
            <strong>Ahorro de Costos: </strong>
            <span>
              Al optar por el renting, evitas inversiones iniciales elevadas.
              Paga solo por el uso, lo que libera capital para otras
              inversiones esenciales en tu negocio.</span>
          </div>
        </div>
        <div class="item">
          <img class="image_item" src="./../../../assets/icons/agil.png" alt="Item" />
          <div class="titles_item">
            <strong>Flexibilidad: </strong>
            <span>
              Tu empresa puede adaptarse a las últimas tecnologías sin la
              carga de la obsolescencia. Actualiza tus equipos según tus
              necesidades, sin costos adicionales.</span>
          </div>
        </div>
        <div class="item">
          <img class="image_item" src="./../../../assets/icons/mantenimiento.png" alt="Item" />
          <div class="titles_item">
            <strong>Mantenimiento Incluido: </strong>
            <span>Olvídate de las preocupaciones por el mantenimiento técnico.
              Nuestro servicio de renting incluye soporte y reparaciones, lo
              que garantiza un rendimiento óptimo.</span>
          </div>
        </div>
        <div class="item">
          <img class="image_item" src="./../../../assets/icons/practica.png" alt="Item" />
          <div class="titles_item">
            <strong>Mejora de la productividad:</strong>
            <span>
              Con el renting de equipos técnicos <br />
              y de computo, siempre tendrás la tecnología más avanzada, lo que
              te permitirá mejorar la productividad de tu empresa.</span>
          </div>
        </div>
        <div class="item">
          <img class="image_item" src="./../../../assets/icons/gestion-de-producto.png" alt="Item" />
          <div class="titles_item">
            <strong>Gestión Simplificada: </strong><span>
              Nuestro servicio de renting facilita la gestión de activos.
              Mantén un control eficiente de tus equipos con nuestro
              apoyo.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="contact_renting">
  <div class="element">
    <div class="container">
      <div>
        <span class="title_header">El renting de equipos técnicos impulsa tu negocio hacia el éxito con
          flexibilidad, eficiencia y ahorro.</span>
        <br />
        <br />
        <span class="title_subheader">
          Renting de equipos: flexibilidad, eficiencia y ahorro. Personalizamos
          soluciones tecnológicas a tu medida. Contáctanos hoy.
        </span>
      </div>
      <div class="" style="text-align: center">
        <a href="#contact_business">
          <button class="btn_contact">Contáctanos</button>
        </a>
      </div>
    </div>
  </div>
</section>