<section class="allies" id="allies">
    <div class="container">
        <h1>Nuestros aliados estrategicos</h1>
        <div class="items">
            <img width="200px" height="76px" src="./../../../assets/images/i4digital.png" alt="image aliado">
            <img width="124px" height="70px" src="./../../../assets/images/rutan.png" alt="image aliado">
            <img width="200px" height="61px" src="./../../../assets/images/gbantioquia.png" alt="image aliado">
            <img width="120px" height="70px" src="./../../../assets/images/alcaldiamedellin.png" alt="image aliado">
        </div>
    </div>
</section>