<app-navbar></app-navbar>
<app-hero></app-hero>

<section class="row benefits">
    <div class="col-3 business-values">
        <div class="business-value">
            <span class="business-value-icon"></span>
            <h3 class="business-value-title">Vision</h3>
        </div>
        <div class="business-value">
            <span class="business-value-icon"></span>
            <h3 class="business-value-title">Missions</h3>
        </div>
        <div class="business-value">
            <span class="business-value-icon"></span>
            <h3 class="business-value-title">Goals</h3>
        </div>
    </div>
    <div class="col-4">
        <img src="" alt="">
    </div>
    <div class="col-5">
        <h2>Benefits of wellbeing and positive employee</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero sed ab blanditiis possimus!</p>
        <a href="#">Meet our Team</a>

        <div>
            <span></span>
            <h3>Jason Coleman</h3>
            <p>Level is awesome! Level has completely surpassed our expectations. After using level my business
                skyrocketed</p>
        </div>
    </div>
</section>