<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Soluciones Apps</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Sobre Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Servicios</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<section class="hero">
    <div class="hero_texts">
        <h1 class="hero_title">Let's start something big together.</h1>
        <p class="hero_paragraph">Sed vulputate mit sit amet mauris commodo quis <br> imperdiet convallis a crass semper auctor</p>
        <a class="hero_cta" href="#">Learn More</a>
    </div>

    <div class="hero_achivements">
        <div class="achivement">
            <span class="achivement_number">30+</span>
            <p class="achivement_description">Years of <br> Excellence</p>
        </div>
        <div class="achivement">
            <span class="achivement_number">53K</span>
            <p class="achivement_description">Completed <br> Policies</p>
        </div>
        <div class="achivement">
            <span class="achivement_number">100%</span>
            <p class="achivement_description">Client <br> Satisfaction</p>
        </div>
    </div>

    <img src="../../../assets/hero-image.png" alt="" class="hero_image">
</section>