<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Soluciones Apps</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Sobre Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Servicios</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<app-hero></app-hero>
<app-info-cards></app-info-cards>

<section class="row benefits">
    <div class="col-3 business-values">
        <div class="business-value">
            <span class="business-value-icon"></span>
            <h3 class="business-value-title">Vision</h3>
        </div>
        <div class="business-value">
            <span class="business-value-icon"></span>
            <h3 class="business-value-title">Missions</h3>
        </div>
        <div class="business-value">
            <span class="business-value-icon"></span>
            <h3 class="business-value-title">Goals</h3>
        </div>
    </div>
    <div class="col-4">
        <img src="" alt="">
    </div>
    <div class="col-5">
        <h2>Benefits of wellbeing and positive employee</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero sed ab blanditiis possimus!</p>
        <a href="#">Meet our Team</a>

        <div>
            <span></span>
            <h3>Jason Coleman</h3>
            <p>Level is awesome! Level has completely surpassed our expectations. After using level my business skyrocketed</p>
        </div>
    </div>
</section>