<router-outlet></router-outlet>

<a id="whatsapp-btn" class="whatsapp-btn" rel="noreferrer"
    href="https://wa.me/573003953614?text=Hola 👋🏼 @Soluciones-APPs, %0AQuiero conocer mas de sus productos"
    target="_blank">
    <div class="icon-wrapper">
        <img src="./../../assets/icons/whatsapp.svg" alt="whatsapp" />
    </div>
</a>

<!-- <a href="#top" class="go-top" data-go-top>
    <div class="icon-wrapper">
        <img src="./../assets/icons/arrow.png" alt="arrow-up" />
    </div>
</a> -->