@import "./../../../styles.scss";

.contact_business {
  margin: 100px 0;

  .container {
    .box-contact {
      display: flex;
      // align-items: center;
      // justify-content: center;

      .title_contact {
        font-size: 40px;
        text-align: center;
      }

      @include mobile {
        flex-direction: column;
      }

      .image_contact {
        .image {
          @include mobile {
            display: none;
          }
        }
      }

      .form_contact {
        width: 100%;
        padding-left: 80px;
        
        @include mobile {
          padding: 0;
        }
        .form-group {
          display: flex;
          flex-direction: column;

          input,
          textarea {
            padding: 12px 16px;
            outline: none;
            font-size: 16px;
            border: 1px solid #d5e8f3;
            border-radius: 4px;
            color: #000;
            transition: all 150ms ease-in-out;

            &:focus,
            &:active {
              border-color: #0cd1f1;
              transition: all 150ms ease-in-out;
            }
          }
        }

        .send_contact {
          text-decoration: none;
          color: #fff;
          background-color: #0cd1f1;
          padding: 12px;
          font-size: 20px;
          border: none;
          border-radius: 4px;
        }

        .disabled {
          padding: 10px;
          font-size: 20px;
          border: none;
          border-radius: 4px;
          background-color: #d5e8f3;
          color: #fff;
        }
      }
    }
  }
}

/* Estilos para la sección de 'Tecnologías' */
