<section class="services_business">
  <div class="container">
    <h1 class="title_container_header">
      Desarrollo de Software a
      <span style="color: #49d2f3; margin-top: 40px">Medida</span>
    </h1>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Soluciones Personalizadas
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <p>
              Creamos software específicamente diseñado para abordar tus
              desafíos y metas empresariales. No más soluciones genéricas que no
              se ajustan a tus necesidades.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            Eficiencia y Productividad
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <p>
              Nuestro software a medida está diseñado para optimizar tus
              procesos internos, lo que se traduce en una mayor eficiencia y
              productividad.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            Escalabilidad
          </button>
        </h2>
        <div
          id="collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="headingThree"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <p>
              A medida que tu empresa crece, tu software debe crecer contigo.
              Nuestras soluciones son escalables y pueden adaptarse a tus
              cambios a lo largo del tiempo.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFour"
            aria-expanded="false"
            aria-controls="collapseFour"
          >
            Escalabilidad
          </button>
        </h2>
        <div
          id="collapseFour"
          class="accordion-collapse collapse"
          aria-labelledby="headingFour"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <p>
              Podemos integrar tus nuevas soluciones de software con las
              herramientas y sistemas existentes en tu empresa, lo que garantiza
              una transición sin problemas.
            </p>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFive"
            aria-expanded="false"
            aria-controls="collapseFive"
          >
            Soporte Continuo post venta
          </button>
        </h2>
        <div
          id="collapseFive"
          class="accordion-collapse collapse"
          aria-labelledby="headingFive"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            <p>
              No estás solo después de la implementación. Ofrecemos soporte
              continuo y actualizaciones para garantizar un rendimiento óptimo a
              lo largo del ciclo de vida.
            </p>
          </div>
        </div>
      </div>
    </div>
    <p class="title_business">
      Con el desarrollo de software personalizado de Soluciones-APPs, obtendrás
      una ventaja competitiva al contar con herramientas tecnológicas diseñadas
      exclusivamente para ti. Contáctanos hoy para explorar cómo podemos
      impulsar tu empresa con soluciones tecnológicas a medida.
    </p>
  </div>
</section>

<section class="items_services_business" id="items_services_business">
  <div class="container">
    <h1 class="title_service">Nuestros Servicios</h1>
    <div class="items_services">
      <div class="item">
        <span class="title_item">Desarrollo de Software a Medida</span> <br />
        <br />
        <span
          >Ofrecemos soluciones de software personalizadas para tu organización,
          incluyendo aplicaciones web, móviles, software empresarial, comercio
          electrónico y gestión en la nube.</span
        >
      </div>
      <div class="item">
        <span class="title_item">Tecnologías y Herramientas de Vanguardia</span>
        <br />
        <br />
        <span
          >"Utilizamos una amplia gama de tecnologías líderes, incluyendo Java,
          Python, JavaScript, React, Angular, y más. También somos expertos en
          virtualización con Docker y Kubernetes para soluciones
          eficientes."</span
        >
      </div>
      <div class="item">
        <span class="title_item"
          >Gestión de Proyectos y Consultoría Especializada</span
        >
        <br />
        <br />
        <span
          >"Nos aseguramos del éxito de tus proyectos con nuestra experiencia en
          Metodologías Ágiles y Scrum, consultoría tecnológica, evaluación de
          proyectos, auditorías y diseño de arquitectura empresarial."</span
        >
      </div>
      <div class="item">
        <span class="title_item">Garantía de Calidad y Pruebas Rigurosas:</span>
        <br />
        <br />
        <span
          >"Nuestra máxima prioridad es la calidad. Proporcionamos pruebas de
          software que abarcan lo funcional, el rendimiento y la seguridad,
          garantía de calidad de software, así como automatización de pruebas
          para asegurar la excelencia en tus soluciones."</span
        >
      </div>
    </div>
  </div>
</section>

<section class="contact_business" id="contact_business">
  <div class="container">
    <div class="box-contact">
      <h2 class="title_contact">Contáctanos</h2>
      <form
        [formGroup]="form_data"
        (ngSubmit)="onSubmit()"
        class="form_contact"
      >
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="name">Nombre completo</label>
              <input
                type="text"
                name="name"
                id="name"
                formControlName="names"
                placeholder="Nombre"
              />
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label for="phone">Número teléfono</label>
              <input
                type="text"
                name="phone"
                id="phone"
                formControlName="phone"
                maxlength="10"
                minlength="10"
                placeholder="Teléfono"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="email">Correo electrónico</label>
              <input
                type="email"
                name="email"
                id="email"
                formControlName="email"
                placeholder="Correo"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="message">Mensaje</label>
              <textarea
                name="message"
                id="message"
                cols="50"
                rows="2"
                formControlName="message"
                placeholder="Mensaje"
              ></textarea>
            </div>
          </div>
        </div>
        <button
          type="submit"
          [ngClass]="form_data.invalid ? 'disabled' : 'send_contact'"
          [disabled]="form_data.invalid"
        >
          Enviar
        </button>
        <div class="alert alert-success" *ngIf="send_email_true" role="alert">
          Pronto nos pondremos en contacto contigo. Gracias por tu interés.
        </div>
      </form>
    </div>
  </div>
</section>
