<section class="container">
    <div class="testimonials">
        <h2 class="testimonials_title">Lo que nuestros clientes dicen de nosotros</h2>
        <div class="testimonials_container">
            <div class="testimonials_card">
                <img src="./../../../assets/icons/quote.png" class="quote">
                <p class="description">Gracias a Soluciones Apps, nuestra aplicación móvil se convirtió en un éxito. El
                    equipo de desarrollo fue
                    excepcional y cumplió con los plazos. Nuestra retención de usuarios aumentó un 30% en solo tres
                    meses.
                    ¡Los recomendamos sin dudarlo!</p>
                <div class="body">
                    <img src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?auto=format&fit=crop&q=80&w=1780&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="" class="user_img">
                    <div class="user_data">
                        <span class="name">Juan Pérez</span>
                        <span class="role">CEO</span>
                    </div>
                </div>
            </div>
            <div class="testimonials_card">
                <img src="./../../../assets/icons/quote.png" class="quote">
                <p class="description">El equipo de Soluciones Apps entendió a la perfección nuestra visión y
                    necesidades. Desarrollaron una plataforma de comercio electrónico personalizada de alta calidad para
                    nosotros. Su apoyo post-lanzamiento ha sido inigualable. Recomendaría a Soluciones Apps en un abrir
                    y cerrar de ojos</p>
                <div class="body">
                    <img src="https://images.unsplash.com/photo-1573497019940-1c28c88b4f3e?auto=format&fit=crop&q=80&w=1887&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="" class="user_img">
                    <div class="user_data">
                        <span class="name">María González</span>
                        <span class="role">Directora de Marketing</span>
                    </div>
                </div>
            </div>
            <div class="testimonials_card">
                <img src="./../../../assets/icons/quote.png" class="quote">
                <p class="description">La colaboración con Soluciones Apps fue gratificante. Su software personalizado
                    ha reducido nuestros costos operativos en un 20% y mejorado significativamente la productividad de
                    nuestro equipo</p>
                <div class="body">
                    <img src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?auto=format&fit=crop&q=80&w=1887&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="" class="user_img">
                    <div class="user_data">
                        <span class="name">Carlos Rodríguez</span>
                        <span class="role">Director de Operaciones</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>